body {
    font-family: Arial, sans-serif;
}

#tree-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.node {
    fill: #8FBC8F; /* Цвет узла (листья) */
    stroke: #2E8B57; /* Цвет обводки */
    stroke-width: 2;
}

.text {
    font-size: 14px;
    text-anchor: middle;
    fill: white; /* Цвет текста */
}

.line {
    stroke: #2E8B57; /* Цвет линий */
    stroke-width: 2;
}